{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block title %}DdxDemonstration{% endblock %}
{% block avanzu_logo %}<a href="{{ path('app_homepage') }}" class="logo"><i class="fa fa-home"></i>Home</a>{% endblock %}
{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block avanzu_admin_footer %}{% endblock %}
